<div class="container">
  <h1>User Manager</h1>
  

    <div class="col-xs-10">

      <div class="row">

        <form #f="ngForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" ngModel name="username" #username="ngModel" required>
            <span class="text-danger" *ngIf="!username.valid && username.touched">Please enter the value for Username</span>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" email ngModel name="email" #email="ngModel" required>
            <span class="help-block text-danger" *ngIf="!email.valid && email.touched">Please enter the value for email address</span>
          </div>

          <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>

        </form>

      </div>

      <hr>

      <div class="row">
        <div class="col-xs-12" *ngIf="submitted">
          <h3>You have submitted the following Data:</h3>
          <p>Username: {{user.username}}</p>
          <p>Email: {{user.email}}</p>
        </div>
      </div>

  </div>
</div>